.wrapper {
  position: relative;
}

.iconContainer {
  border: 3px solid var(--user-color);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 3px 12px;
  align-items: center;
}
.iconContainer svg {
  fill: white;
  width: 15px;
}
.iconContainer:hover,
.selected svg {
  fill: var(--user-color);
}
.selected,
.iconContainer:hover {
  background: var(--base);
}
.people {
  padding: 5px 11px;
}
