.left {
  transform: rotate(180deg);
  margin-right: 20px;
  stroke: var(--green);
  cursor: pointer;
}
.rigth {
  cursor: pointer;
  stroke: var(--green);
  margin-left: 20px;
}

.wrapper {
  padding-top: 20px;
}
