.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.gooey {
  width: 142px;
  height: 35px;
  background: black;
  filter: contrast(20);
  display: flex;
  align-items: center;
}
.dot {
  width: 16px;
  height: 16px;
  filter: blur(4px);
  background: white;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
  margin-left: 10px;
}
.dots {
  transform: translateX(0);
  animation: dots 2.8s infinite;
}
.dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: var(--user-color);
  border-radius: 50%;
  opacity: 0.8;
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}
