.inputWrapper {
  align-content: flex-start;
  padding-bottom: 25px;
  width: 100%;
}
.text {
  font-size: 1.1em;
  font-weight: 300;
}
.requiredDot {
  color: var(--user-color);
  font-size: 1.5em;
  margin-left: 10px;
  font-weight: 400;
}
.opcional {
  font-size: 1.4em;
}
.padding-right {
  padding-right: 5px;
  text-align: right;
}
.error {
  padding-top: 10px;
  width: 100%;
  color: #970707;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.9em;
}
.checkbox {
  color: gray;
  margin-top: 5px;
}
.positionLabelWrapper {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}
.positionLabelWrapperPadding {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}
.disabled {
  opacity: 0.35;
}
.check {
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}
.checkLabel {
  width: auto;
  padding-left: 5px;
  padding-bottom: 0;
}
.label {
  color: white;
  font-weight: 300;
  font-weight: bold;
}
.borderTop {
  padding-top: 15px;
}
.cursorPointer:hover {
  cursor: pointer;
}
.checkboxInput {
  width: auto;
}
.regularLabel {
  padding-bottom: 10px;
}
.tooltipIcon {
  margin-left: 5px px;
  fill: #ff7800;
}
.extraPadding {
  padding: 16px 0;
}
.label {
  width: 100%;
}
.subLabel {
  width: 100%;
  font-size: 0.9em;
  color: var(--blue);
}
.container {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.inputContainer {
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid var(--user-color);
  background: #5e5e5e;
}
.inputError {
  border: 2px solid #970707;
}
.textInput::placeholder {
  opacity: 0.3;
}
.textInput:disabled {
  background: none;
}
.textInput {
  width: 100%;
  text-overflow: ellipsis;
  background: transparent;
  color: white;
}
.iconContainer {
  padding-right: 15px;
}
.inputIcon {
  width: 21px;
  height: 21px;
  stroke: var(--green);
  fill: var(--green);
}
@media (max-width: 800px) {
  .inputGroup {
    width: 100% !important;
  }
}
