.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 60%;
  max-width: var(--max);
  padding: 30px 0;
}
.logoCont {
  padding-bottom: 80px;
}
.logo {
  width: 80px;
  height: 80px;
}
.titleCont {
  padding-bottom: 100px;
}
.title {
  font-weight: bold;
  color: white;
  padding-right: 20px;
  font-size: 4em;
}
.strong {
  font-weight: bold;
  color: var(--user-color);
  font-size: 4em;
}
.goForward:hover {
  opacity: 0.5;
}
.goForward {
  transition: 0.3s;
  justify-content: flex-end;
  padding-top: 80px;
  font-weight: bold;
  color: var(--user-color);
  font-size: 2em;
  cursor: pointer;
}
.card {
  background: #5e5e5e;
  border: 2px solid #8f8f8f;
  transition: 0.3s;
  border-radius: 30px;
  padding: 50px;
  width: 300px;
  height: 300px;
  cursor: pointer;
}
.card svg {
  width: 200px;
  height: 200px;
  fill: #8f8f8f;
}
.selected .cardTitle {
  color: var(--base);
}
.selected {
  background: #8f8f8f;
  border-color: var(--user-color);
  transform: scale(1.1);
}
.selected svg {
  fill: var(--user-color);
}
.cardTitle {
  color: black;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
@media (max-width: 1500px) {
  .container {
    width: 80%;
  }
  .title,
  .strong {
    font-size: 2.5em;
  }
}
