.button {
  padding: 8px 25px;
  border-radius: 20px;
  border: 2px solid white;
  transition: 0.5s;
  cursor: pointer;
  font-weight: 300;
}

.black {
  background: black;
  color: var(--user-color);
  border-color: white;
  font-weight: bold;
}
.black:hover {
  background: black;
  color: white;
  border-color: var(--user-color);
}
.min {
  font-size: 0.9em;
  padding: 5px 10px;
  border-radius: 10px;
  background: black;
  color: var(--user-color);
  border-color: white;
  font-weight: bold;
}
.min:hover {
  background: black;
  color: white;
  border-color: var(--user-color);
}
