.iconContainer:first-of-type {
  margin-left: 0;
  padding: 16px 12px;
}

.iconContainer {
  border: 4px solid var(--user-color);
  border-radius: 50%;
  margin-left: 100px;
  padding: 16px 17px;
  cursor: pointer;
}
.minContainer {
  border: 2px solid var(--user-color);
  border-radius: 50%;
  padding: 7px 9px;
  margin: 10px 20px 0 0;
  cursor: pointer;
}
.minContainer svg {
  width: 20px;
  height: 20px;
}
.minContainer,
.iconContainer svg {
  fill: white;
}
.minContainer,
.iconContainer:hover,
.selected svg {
  fill: var(--user-color);
}
.selected,
.iconContainer:hover {
  background: var(--base);
}
.icons {
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}
