.wrapper {
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

.content {
  max-width: var(--max-width);
  width: var(--content);
  padding: 8vh 0 0;
  position: relative;
}
.bone {
  position: absolute;
  width: 250px;
  z-index: -1;
  opacity: 0.08;
  bottom: -50%;
}
.numb {
  font-weight: 600;
  font-size: 10em;
  color: var(--blue);
}
.title {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  padding-bottom: 15px;
  text-transform: uppercase;
  width: 100%;
}
.message {
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  color: var(--orange);
}
