.container {
  padding-top: 10px;
}
.lang {
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid #707070;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.selected {
  color: var(--user-color);
}
