.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 20px;
  background: var(--gray);
  border-top-right-radius: 300px;
  border-bottom-right-radius: 300px;
  border: 3px solid #8f8f8f;
  box-shadow: 0px 0px 20px var(--user-color);
  margin-bottom: 50px;
  width: 800px;
  overflow: hidden;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.imageContainer {
  position: relative;
  width: 10%;
  padding-bottom: 10%;
  border-radius: 50%;
  overflow: hidden;
  background: var(--base);
  display: flex;
}
.container {
  width: 55%;
}
.chartsContainer {
  width: 30%;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 2em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--green);
  white-space: nowrap;
  padding-bottom: 5px;
}
.enterprise {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 5px;
}
.location {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 5px;
  color: var(--base);
}
.skillCont {
  border: 1px solid var(--green);
  border-radius: 30px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.skill {
  font-weight: bold;
}
.case {
  fill: var(--base);
}
.skillsWrap {
  max-height: 100px;
  overflow: auto;
  margin: 10px 0;
}
.moneyCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.currency,
.period {
  font-size: 1.2em;
  text-align: center;
  width: 100%;
}
.payment {
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  width: 100%;
  color: var(--green);
}
