.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
  max-width: var(--max);
}
.imageContainer {
  width: 40%;
}
.image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 1px solid var(--user-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageIcon {
  width: 100px;
  height: 100px;
  fill: var(--user-color);
}
.name {
  padding: 20px 0 10px;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
.email {
  width: 100%;
  text-align: center;
  color: #8f8f8f;
}
.paper {
  border-radius: 30px;
  padding: 20px 40px;
  box-shadow: 0px 0px 10px var(--user-color);
}
.personalData {
  width: 60%;
  align-items: flex-start;
}
.personalCont {
  width: 45%;
}
.strong {
  font-size: 1.5em;
  font-weight: bold;
  padding-right: 10px;
  color: var(--user-color);
}
.title {
  font-size: 1.5em;
  font-weight: bold;
}
.line {
  border-bottom: 2px solid var(--user-color);
  width: 100%;
  padding-top: 5px;
}
.formInputCont {
  padding-top: 15px;
  width: 100%;
}
.inputLabel {
  font-weight: bold;
}
.inputValue {
  color: #8f8f8f;
  padding-top: 10px;
}
.input {
  background: none;
  border-bottom: 1px solid var(--user-color);
  width: 100%;
  color: white;
  padding-top: 10px;
}
.edit:hover {
  opacity: 0.5;
}
.edit {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: 10px;
}
.searchs {
  margin-top: 80px;
}
.countCont {
  width: 50%;
}
.count {
  margin-right: 10px;
  font-weight: bold;
}
.countLabel {
  font-weight: bold;
  color: #8f8f8f;
}
.linkCont:hover {
  opacity: 0.5;
}
.linkCont {
  transition: 0.5s;
  border-radius: 30px;
  border: 1px solid var(--user-color);
  padding: 5px 15px;
  margin-right: 10px;
  background: #5e5e5e;
  font-weight: bold;
}
@media (max-width: 1100px) {
  .personalData,
  .imageContainer {
    width: 100%;
  }
  .personalData {
    margin-top: 70px;
  }
}
