.colorContainer {
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}
.colorDot {
  cursor: pointer;
  border-radius: 50%;
}
.dot {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.selected {
  border: 2px solid black;
}
