.wrapper {
  border: 4px solid var(--user-color);
  border-radius: 30px;
  padding: 10px 15px;
  background: var(--gray);
  justify-content: flex-start;
}

.search {
  margin-right: 20px;
  stroke: var(--user-color);
}
.icon {
  stroke: var(--user-color);
  width: 20px;
  margin: 3px 10px;
}
.head {
  cursor: pointer;
  padding: 2px 10px;
  border-width: 3px;
  overflow: hidden;
}
.animation {
  animation-name: width;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.input::placeholder {
  font-style: italic;
  font-size: 1.3em;
}
.head .input::placeholder {
  font-size: 0.9em;
}

.input {
  outline: none;
  width: 98%;
  background: none;
}

.headMo {
  padding-right: 10px;
}

@keyframes width {
  from {
    width: 80px;
  }
  to {
    width: 100%;
  }
}
