.container {
  max-width: var(--max);
  padding: 20px 0;
  align-items: flex-start;
}
.barContainer {
  max-width: 700px;
}
.icon {
  animation-name: iconPos;
  animation-duration: 1s;
}
.torre {
  width: 80px;
  height: 80px;
}
.iconCont:hover {
  opacity: 0.5;
}
.iconCont {
  transition: 0.3s;
  border: 1px solid var(--user-color);
  border-radius: 50%;
  margin-right: 20px;
  padding: 10px 11px;
}
.peopleIcon {
  fill: var(--user-color);
  width: 21px;
  height: 21px;
}
@keyframes iconPos {
  from {
    transform: translateX(800%);
  }
  to {
    transform: translateX(0);
  }
}
