.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 60%;
  max-width: var(--max);
  padding: 30px 0;
}
.logoCont {
  padding-bottom: 80px;
}
.logo {
  width: 80px;
  height: 80px;
}
.titleCont {
  padding-bottom: 100px;
}
.title {
  font-weight: bold;
  color: white;
  padding-right: 20px;
  font-size: 4em;
}
.third {
  font-weight: bold;
  color: white;
  padding-left: 20px;
  font-size: 4em;
}
.strong {
  font-weight: bold;
  color: var(--user-color);
  font-size: 4em;
}
.goForward:hover {
  opacity: 0.5;
}
.goForward {
  transition: 0.3s;
  justify-content: flex-end;
  padding-top: 40px;
  font-weight: bold;
  color: var(--user-color);
  font-size: 2em;
  cursor: pointer;
}
