.wrapper {
  height: calc(var(--height) - 220px);
}
.container {
  max-width: var(--max);
}
.title {
  font-size: 7em;
  font-weight: bold;
}
.green {
  color: var(--user-color);
  padding-left: 15px;
}
.SearchBar {
  padding-top: 40px;
  max-width: 800px;
}
