* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-size: 12px;
  font: inherit;
  color: var(--white);
  color: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Century Gothic';
  font-weight: 100;
  scroll-behavior: smooth;
  scrollbar-color: var(--strong-color) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  line-height: 1.2;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background: var(--strong-color);
  border-radius: 5px;
}

.apexcharts-tooltip {
  color: #000000;
}

.apexcharts-menu-item {
  color: #000000;
}

*::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0;
}

*:link {
  text-decoration: none;
}

*:active {
  border: none;
  outline: none;
}

html {
  scrollbar-color: var(--strong-color) var(--black);
  height: 100%;
  background: black;
}

ol,
ul {
  list-style: none;
}

body {
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --max: 1920px;
  --content: 85%;
  --green: #cddc39;
  --gray: #5e5e5e;
  --base: #2c2d1e;
  --strong-color: #262627;
  --user-color: #cddc39;
  --height: 100vh;
}

#root {
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

.center {
  align-items: center;
  align-content: center;
  justify-content: center;
}

.full {
  width: 100%;
}

.between {
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.start {
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}

.end {
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.pad-10 {
  padding-bottom: 10px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-top-20 {
  padding-top: 20px;
}

.wrap {
  flex-wrap: wrap;
}

.top {
  align-items: flex-start;
  align-content: flex-start;
}
