.wrapper {
  height: 100vh;
  overflow: hidden;
}
.container {
  padding: 3% 8%;
  width: 65%;
}
.imageWrapper {
  width: 45%;
  position: relative;
  background: white;
  overflow: hidden;
  justify-content: center;
}
.link {
  text-decoration: underline;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.image {
  width: 200%;
  height: 100%;
}
.title {
  font-size: 4em;
  font-weight: bold;
}
.strong {
  font-weight: bold;
  margin-left: 20px;
  font-size: 4em;
  color: var(--user-color);
}
.torre {
  margin-bottom: 15px;
  width: 80px;
  height: 80px;
}
