.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 85%;
  max-width: var(--max);
  align-items: flex-start;
}
.part {
  width: 45%;
}
.paper {
  border-radius: 300px 100px 100px 300px;
  box-shadow: 0px 0px 10px var(--user-color);
  padding-right: 30px;
}
.imageCont {
  width: 40%;
  border-radius: 50%;
  position: relative;
  padding-bottom: 40%;
  background: var(--user-color);
  display: flex;
  border: 1px solid var(--user-color);
}
.picture {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
.verified {
  position: absolute;
  z-index: 99;
  right: 10px;
  bottom: 20px;
  background: var(--user-color);
  border-radius: 50%;
  padding: 0px 5px 0 0;
}
.verifiedIcon {
  fill: white;
}
.personalData {
  width: 55%;
}
.name {
  padding-bottom: 10px;
  font-weight: bold;
  color: var(--user-color);
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.role {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 10px;
  font-weight: bold;
  color: white;
}
.descrp {
  text-align: justify;
  padding-bottom: 10px;
  color: #8f8f8f;
}
.user {
  font-weight: bold;
  text-align: justify;
  color: #8f8f8f;
}
.strongIcon {
  width: 20px;
  height: 20px;
  fill: var(--user-color);
  margin-right: 15px;
}
.sectTitle {
  font-weight: bold;
  font-size: 1.5em;
}
.titleCont {
  justify-content: flex-start;
  padding-top: 15px;
}
.titleContExp {
  justify-content: flex-start;
}
.line {
  width: 100%;
  height: 1px;
  padding-top: 5px;
  border-bottom: 3px solid var(--user-color);
}
.linkIcon:hover {
  opacity: 0.5;
}
.linkIcon {
  cursor: pointer;
  transition: 0.5s;
  width: 40px;
  height: 40px;
  margin-right: 30px;
}
.chipsToMap {
  border-radius: 20px;
  border: 1px solid var(--user-color);
  margin: 0 10px 15px 0;
  padding: 5px 10px;
}
.scrollSection {
  max-height: 110px;
  overflow: auto;
}
.innerExpTitle {
  font-weight: bold;
  color: #8f8f8f;
  padding-bottom: 20px;
  font-size: 1.5em;
}
.experienceCard {
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 30px;
}
.cardImage {
  width: 50px;
  height: 50px;
  position: relative;
  background: var(--user-color);
  border-radius: 50%;
  overflow: hidden;
  padding-bottom: 50px;
}
.cardImage img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  margin-left: 40px;
}
.nameCard {
  font-size: 1.2em;
  font-weight: bold;
}
.remoteInd {
  fill: #8f8f8f;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}
.nameCont {
  display: flex;
  align-items: center;
}
.text {
  padding-top: 5px;
  color: #8f8f8f;
}
.year {
  font-weight: bold;
  padding-left: 10px;
  color: var(--user-color);
}
.dash {
  padding: 0 10px;
}
@media (max-width: 1100px) {
  .part {
    width: 100%;
    padding-bottom: 20px;
  }
}
